<!-- <h3>Listado de alumnos</h3>

<table>
  <thead>
    <th>Id</th>
    <th>Nombres del Alumno</th>
    <th>Edad</th>
    <th>Aprobado/Desaprobado</th>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos">
      <td>{{ alumno.id }}</td>
      <td>{{ alumno.nombre }}</td>
      <td>{{ alumno.edad }}</td>
      <td>{{ alumno.estaAprobado ? 'Si' : 'No' }}</td>
    </tr>
  </tbody>
</table>
<app-alumno [dataAlumnos]="alumnos" (eliminarAlmno)="eliminarAlumno($event)"></app-alumno>
<br>
<app-clase [dataClases]="clases" (eliminarClase)="eliminarClase($event)"></app-clase>
<br>
<app-curso [dataCursos]="cursos" (eliminarCurso)="eliminarCurso($event)"></app-curso> -->
<app-dashboard></app-dashboard>
 <!-- <app-login></app-login> -->